@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		@apply w-full h-full font-sans;
	}
	#root {
		@apply w-full h-full;
	}
}
@layer utilities {
	.perspective-500 {
		perspective: 500px;
	}
	.transform-gpu {
		--tw-rotate-y: 0;
		--tw-rotate-x: 0;
		transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0)
			rotateZ(var(--tw-rotate)) rotateX(var(--tw-rotate-x))
			rotateY(var(--tw-rotate-y)) skewX(var(--tw-skew-x))
			skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
			scaleY(var(--tw-scale-y));
	}
	.rotate-x-60 {
		--tw-rotate-x: 60deg;
	}
}
